* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	color: #343434;
	/*font-family: 'Indie Flower', cursive;*/
	position: relative;
	min-height: 100%;
}

.navbar-default {
	background-color: #30BD9C;
	border-color: #EF476F;
	border-width: 0 0 2px 0;
	margin-bottom: 0;
}

.navbar-default .navbar-brand {
	padding: 0;
	font-family: 'Indie Flower', cursive;
	font-size: 30px;
	color: #fff;
}

#marquee {
	display: inline-block;
	margin: 0 auto;
	padding-top: 11px;
	text-decoration: underline;
}

#marquee:hover {
	color: #343434;
}

#aardy {
	width: 48px;
	height: 33px;
	background-color: #fff;
	border-style: solid;
	border-color: #fff;
	border-radius: 50%;
	padding: 5px;
	margin-right: 10px;
	margin-left: 30px;
}

.navbar-default .navbar-right > li > a {
	color: #343434;
}

.navbar-default .navbar-right > li > a:hover {
	color: #fff;
}


#about {
	padding-top: 5px;
	font-size: 18px;
	background-color: #30BD9C;
}

#aardyContainer {
	width: 270px;
	height: 270px;
	background-color: #30BD9C;
	border-radius: 50%;
	margin: 0 auto;
	position: relative;
	margin-top: 40px;
}

#bigAardy {
	margin: 0 auto;
	width: 240px;
	height: 165px;
	position: absolute;
	left: 17px;
	top: 52.5px;
}

#title {
	font-family: 'Indie Flower', cursive;
	font-size: 80px;
	color: #30BD9C;
	margin-bottom: 0;
}

.slogan {
	margin-top: 10px;
	color: #343434;
}

#line {
	width: 50px;
	margin: 0 auto;
	border-style: solid;
	border-width: 0 0 4px 0;
	border-color: #30BD9C;
}

#space {
	margin-bottom: 100px;
}

#san {
	width: 350px;
	color: #343434;
	background-color: #EF476F;
	font-size: 25px;
	padding: 12px 0 8px 0;
	color: #fff;
	border-style: solid;
	border-color: #EF476F;
	border-radius: 50px;
	margin: 25px 0 25px 0;
}

#san:hover {
	border-color: #26547C;
	background-color: #26547C;
}

#san:focus {
	outline: 0;
}

.navbar-fixed-bottom {
	border-color: #EF476F;
	border-width: 2px 0 0 0;
	background-color: #26547C;
}

.navbar-default .navbar-text {
	color: #fff;
	width: 100%;
	font-size: 12px;
}

#footer {
	position: absolute;
	bottom: 0;
}

/*input.html syles*/

.page-header {
    border-color: #26547C;
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

#headline {
	margin: 0;
	color: #30BD9C;
}

#mediumAardy {
    width: 144px;
    height: 99px;
}

#uno {
	margin: 20px 0 100px 0;
    overflow: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #EF476F;
    border-radius: 10px;
}

.form-control {
    width: 92%;
    margin: auto;
}

ul {
    /*height: 40px;*/
    background-color: #fff;
    display: block;
    margin: auto;
    text-align: left;
}

ul:hover {
	cursor: pointer;
}

button {
    margin-bottom: 5px;
}

#tres {
	margin-top: 20px;
	margin-bottom: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: #EF476F;
    border-radius: 10px;
}

.radio-inline {
    font-size: 24px;
}

.form-group > ul {
	background-color: #fff;
    display: block;
    margin: auto;
    text-align: left;
}

.awesomplete {
    width: 92%;
}

#schoolName {
	text-align: left;
}

#major {
    width: 92%;
    color: #aaa;
    font-weight: bold;
}

#majorFill {
    width: 92%;
    text-align: left;
    background-color: #fff;
    border-style: solid;
    border-color: #aaa;
    border-width: 1px;
}

#majorFill:hover {
	cursor: default;
}

#majorButton {
    width: 8%;
    color: #fff;
    background-color: #EF476F;
}

#majorDropdown {
    width: 100%;
    height: 200px;
    overflow: scroll;
}

#submit {
	width: 250px;
	color: #EF476F;
	font-size: 18px;
	font-weight: bold;
	padding: 12px 0 8px 0;
	background-color: #fff;
	border-style: solid;
	border-color: #EF476F;
	border-radius: 50px;
	margin: 30px 30px 40px 30px;
}

#submit:hover {
	color: #fff;
	background-color: #EF476F;
}

#submit:focus {
	outline: 0;
}

#errors {
	color: #EF476F;
	font-size: 30px;
}

#errorResults {
	color: #EF476F;
}

.links {
	display: inline-block;
}

.links:hover {
	cursor: pointer;
	color: #30BD9C;
}

/*result.html styles*/

#collegeArea {
	margin-top: 20px;
	margin-bottom: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: #26547C;
    border-radius: 10px;
}

#spacer {
	margin: 30px 0 0 0;
}

#less {
	margin-top: 5px;
}

.liner {
	margin: 0 auto;
	margin-bottom: 10px;
	width: 92%;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #30BD9C;
}

.room {
	margin-bottom: 20px;
}

.buttonStyle {
	display: inline-block;
	width: 250px;
	color: #EF476F;
	font-size: 18px;
	font-weight: bold;
	padding: 12px 0 8px 0;
	background-color: #fff;
	border-style: solid;
	border-color: #EF476F;
	border-radius: 50px;
	margin: 30px 30px 40px 30px;
}

.buttonStyle:hover {
	color: #fff;
	background-color: #EF476F;
}

.buttonStyle:focus {
	outline: 0;
	color: #30BD9C;
	border-color: #30BD9C;
}

.buttonStyle:focus, hover {
	background-color: #fff;
	cursor: default;
}

.inline {
	display: inline-block;
	margin: 20px 40px 20px 40px;
}

#newProfile {
	width: 250px;
	color: #26547C;
	font-size: 18px;
	font-weight: bold;
	padding: 12px 0 8px 0;
	background-color: #fff;
	border-style: solid;
	border-color: #26547C;
	border-radius: 50px;
}

#newProfile:hover {
	color: #fff;
	background-color: #26547C;
}

#newProfile:focus {
	outline: 0;
}

#bottom {
	margin-bottom: 500px;
}

#moreSpace {
	margin-bottom: 30px;
}

.block1 {
	display: inline-block;
}

.block2 {
	display: inline-block;
}

#box1 {
	width: 25px;
	height: 25px;
	border-style: solid;
	border-color: #343434;
	border-width: 1px;
	background-color: #F7FF58;
	margin-right: 10px;
}

#box2 {
	width: 25px;
	height: 25px;
	border-style: solid;
	border-color: #343434;
	border-width: 1px;
	background-color: #FF934F;
	margin-right: 10px;
}

/*about.html page*/

#roomy {
	margin-bottom: 100px;
}